
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.form-group {
  width: 150px;
}

rect.highcharts-background {
  fill: $body-bg;
}

header {
  position: fixed;
  background-color: darkred;
  width: 100%;
}

h1.golden-title {
  color: goldenrod;
}

